body {background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR_XoYaszakrRi6lSk6POjZJ6xBqWq4PbZ95OWmYvtgNGcMkweXhg");
background-size:1700px 1500px; 
background-repeat: no-repeat;}
a:hover {color:#2a00ff}

