body {background-image: url("https://s-media-cache-ak0.pinimg.com/736x/03/08/e7/0308e70acdaa440309ec93266037e1d2.jpg");
background-size:700px 700px; 
background-repeat: no-repeat;}
a:hover {color:#2a00ff}
<p style="color:blue">
